# Applied Data Science Capstone Project

This notebook will we used mainly for Capstone project

In [2]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/resources/labs/ADSC101EN/Capstone-Project/Scripts'

In [70]:
df_traffic = pd.read_csv("Data-Collisions.csv")
df_traffic100 = df_traffic.head(100)
coldf = len(df_traffic100.columns)
pd.set_option("display.max_columns", coldf)
df_traffic.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [112]:
Severity_Code ={
    0 : "Unknown",
    1 : "Prop damage",
    2 : "Injury",
    2.5 : "Serious injury",
    3 : "Fatality"
}
Severity = pd.DataFrame(Severity_Code, index=["Severity"])
Severity

              0.0          1.0     2.0             2.5       3.0
Severity  Unknown  Prop damage  Injury  Serious injury  Fatality

In [117]:
df_traffic["SEVERITYCODE"].value_counts(normalize=True)

1    0.698369
2    0.301631
Name: SEVERITYCODE, dtype: float64

In [ ]:
%

In [52]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEVERITYCODE    100 non-null    int64
 1   X               96 non-null     float64
 2   Y               96 non-null     float64
 3   OBJECTID        100 non-null    int64
 4   INCKEY          100 non-null    int64
 5   COLDETKEY       100 non-null    int64
 6   REPORTNO        100 non-null    object
 7   STATUS          100 non-null    object
 8   ADDRTYPE        99 non-null     object
 9   INTKEY          36 non-null     float64
 10  LOCATION        98 non-null     object
 11  EXCEPTRSNCODE   46 non-null     object
 12  EXCEPTRSNDESC   1 non-null      object
 13  SEVERITYCODE.1  100 non-null    int64
 14  SEVERITYDESC    100 non-null    object
 15  COLLISIONTYPE   95 non-null     object
 16  PERSONCOUNT     100 non-null    int64
 17  PEDCOUNT        100 non-null    int64
 18  PEDCYLCOUNT     100 non-null    int64
 19  VEHCOUNT        100 non-null    int64
 20  INCDATE         100 non-null    object
 21  INCDTTM         100 non-null    object
 22  JUNCTIONTYPE    100 non-null    object
 23  SDOT_COLCODE    100 non-null    int64
 24  SDOT_COLDESC    100 non-null    object
 25  INATTENTIONIND  9 non-null      object
 26  UNDERINFL       95 non-null     object
 27  WEATHER         95 non-null     object
 28  ROADCOND        95 non-null     object
 29  LIGHTCOND       95 non-null     object
 30  PEDROWNOTGRNT   3 non-null      object
 31  SDOTCOLNUM      57 non-null     float64
 32  SPEEDING        3 non-null      object
 33  ST_COLCODE      100 non-null    object
 34  ST_COLDESC      95 non-null     object
 35  SEGLANEKEY      100 non-null    int64
 36  CROSSWALKKEY    100 non-null    int64
 37  HITPARKEDCAR    100 non-null    object
dtypes: float64(4), int64(12), object(22)
memory usage: 29.8+ KB

In [71]:
df_traffic["ST_COLCODE"].unique()

array(['10', '11', '32', '23', '5', '22', '14', '30', ' ', '28', '51',
       '13', '50', '12', '45', '0', '20', '21', '1', '52', '16', '15',
       '74', '81', '26', '19', '2', '66', '71', '3', '24', '40', '57',
       '6', '83', '25', '27', '4', '72', '29', '56', '73', '41', '17',
       '65', '82', '67', '49', '84', '31', '43', '42', '48', '64', '53',
       32, 50, 15, 10, 14, 20, 13, 22, 51, 11, 28, 12, 52, 21, 0, 19, 30,
       16, 40, 26, 27, 83, 2, 45, 65, 23, 24, 71, 1, 29, 81, 25, 4, 73,
       74, 72, 3, 84, 64, 57, 42, 41, 48, 66, 56, 31, 82, 67, '54', '60',
       53, 43, 87, 54, '87', nan, '7', '8', '85', '88', '18'],
      dtype=object)

In [72]:
df_traffic["ST_COLCODE"].replace(" ", None, inplace = True)
df_traffic["ST_COLCODE"] = df_traffic["ST_COLCODE"].astype(float)
df_traffic["ST_COLCODE"].unique()

array([10., 11., 32., 23.,  5., 22., 14., 30., 28., 51., 13., 50., 12.,
       45.,  0., 20., 21.,  1., 52., 16., 15., 74., 81., 26., 19.,  2.,
       66., 71.,  3., 24., 40., 57.,  6., 83., 25., 27.,  4., 72., 29.,
       56., 73., 41., 17., 65., 82., 67., 49., 84., 31., 43., 42., 48.,
       64., 53., 54., 60., 87., nan,  7.,  8., 85., 88., 18.])

In [88]:
df_traffic["X"].isnull().sum()

5334

In [89]:
df_traffic["Y"].isnull().sum()

5334

array([-122.3231484, -122.3472943, -122.33454  , ..., -122.3927543,
       -122.3042172, -122.3616722])

In [92]:
# Delete the rows which have NaN values on X, Y and ST_COLCODE
df_traffic.dropna(subset=["ST_COLCODE"], axis=0, inplace=True)
df_traffic.dropna(subset=["X"], axis=0, inplace=True)
df_traffic.dropna(subset=["Y"], axis=0, inplace=True)
# Reset the index after deleting rows.
df_traffic.reset_index(drop=True, inplace=True)

In [94]:
df_traffic.shape

(189321, 38)